body{
    background-image: url("C:/Users/Kinnaree/Downloads/bg3.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
h1{
    background-color: brown;
    opacity: 0.7;
}
.r1{
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    color:black;
}
.r2{
    font-weight: bold;
    font-style: oblique;
    margin-left: 250px;
}
